<!-- Login Credentials to MySQL -->
<configuration>
	<appSettings>
		<add 
			key ="MySqlConnectionString" 
			value = "
				server = mysql103.unoeuro.com;
				user id = webicon_se;
				password = Anneli82;
				database = webicon_se_db2;
				persist security info = True;
			"/>
	</appSettings>
</configuration>